// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2026.1.0.37.0
// Netlist written on Mon Sep 14 00:40:08 2026
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/nko/documents/github/e155-labs/e155-lab2/lab2_aiproto1/source/sev_seg_decoder.sv"
// file 1 "c:/users/nko/documents/github/e155-labs/e155-lab2/lab2_aiproto1/source/top_display_multiplexer.sv"
// file 2 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ice40up.v"
// file 3 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ice40up.vhd"
// file 4 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc.v"
// file 5 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_distributed_ram.v"
// file 6 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_ecc.v"
// file 7 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_flag_and_cnts_logic.v"
// file 8 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_gray_reg.v"
// file 9 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_gray_synchronizer.v"
// file 10 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden.v"
// file 11 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_prim.v"
// file 12 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_rd_ctrl_logic.v"
// file 13 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_rd_output_logic.v"
// file 14 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_ring_counter.v"
// file 15 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_wr_ctrl_logic.v"
// file 16 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_prim_gen.v"
// file 17 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_rd_ctrl_logic.v"
// file 18 "c:/lscc/radiant/2026.1/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_wr_ctrl_logic.v"
// file 19 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp.v"
// file 20 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_behavioral.v"
// file 21 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_functions.vh"
// file 22 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_impl.v"
// file 23 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_lut_decode.v"
// file 24 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/hsiao_ecc_decoder.v"
// file 25 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/hsiao_ecc_encoder.v"
// file 26 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/lscc_lfmxo4_ram_dq.v"
// file 27 "c:/lscc/radiant/2026.1/ip/lfmxo4/ram_dq/rtl/lscc_lfmxo4_ram_dq_lut_decode.v"
// file 28 "c:/lscc/radiant/2026.1/ip/common/adder/rtl/lscc_adder.v"
// file 29 "c:/lscc/radiant/2026.1/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 30 "c:/lscc/radiant/2026.1/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 31 "c:/lscc/radiant/2026.1/ip/common/counter/rtl/lscc_cntr.v"
// file 32 "c:/lscc/radiant/2026.1/ip/common/fifo/rtl/lscc_fifo.v"
// file 33 "c:/lscc/radiant/2026.1/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 34 "c:/lscc/radiant/2026.1/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 35 "c:/lscc/radiant/2026.1/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 36 "c:/lscc/radiant/2026.1/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 37 "c:/lscc/radiant/2026.1/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 38 "c:/lscc/radiant/2026.1/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 39 "c:/lscc/radiant/2026.1/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 40 "c:/lscc/radiant/2026.1/ip/common/rom/rtl/lscc_rom.v"
// file 41 "c:/lscc/radiant/2026.1/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 42 "c:/lscc/radiant/2026.1/ip/pmi/pmi_add.v"
// file 43 "c:/lscc/radiant/2026.1/ip/pmi/pmi_addsub.v"
// file 44 "c:/lscc/radiant/2026.1/ip/pmi/pmi_complex_mult.v"
// file 45 "c:/lscc/radiant/2026.1/ip/pmi/pmi_counter.v"
// file 46 "c:/lscc/radiant/2026.1/ip/pmi/pmi_dsp.v"
// file 47 "c:/lscc/radiant/2026.1/ip/pmi/pmi_fifo.v"
// file 48 "c:/lscc/radiant/2026.1/ip/pmi/pmi_fifo_dc.v"
// file 49 "c:/lscc/radiant/2026.1/ip/pmi/pmi_mac.v"
// file 50 "c:/lscc/radiant/2026.1/ip/pmi/pmi_mult.v"
// file 51 "c:/lscc/radiant/2026.1/ip/pmi/pmi_multaddsub.v"
// file 52 "c:/lscc/radiant/2026.1/ip/pmi/pmi_multaddsubsum.v"
// file 53 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dp.v"
// file 54 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dp_be.v"
// file 55 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dq.v"
// file 56 "c:/lscc/radiant/2026.1/ip/pmi/pmi_ram_dq_be.v"
// file 57 "c:/lscc/radiant/2026.1/ip/pmi/pmi_rom.v"
// file 58 "c:/lscc/radiant/2026.1/ip/pmi/pmi_sub.v"
// file 59 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 60 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 61 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 62 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 63 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 64 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 65 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 66 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ib.v"
// file 67 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 68 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 69 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 70 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ob.v"
// file 71 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 72 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 73 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 74 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/rgb.v"
// file 75 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 76 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 77 "c:/lscc/radiant/2026.1/cae_library/simulation/verilog/ice40up/legacy.v"

//
// Verilog Description of module top_display_multiplexer
//

module top_display_multiplexer (input clk, input rst_n, input [3:0]in_digit0, 
            input [3:0]in_digit1, output [6:0]seg, output [1:0]anode);
    
    (* is_clock=1 *) wire clk_c;
    wire rst_n_c;
    wire [3:0]in_digit0_c;
    wire [3:0]in_digit1_c;
    wire [6:0]seg_c;
    wire digit_sel_N_35;
    wire [16:0]clk_cnt;
    wire digit_sel;
    wire [3:0]mux_nibble;
    
    wire GND_net, VCC_net, digit_sel_N_37, n273, n271, n269, n267, 
        n265, n33, n263, n190, n611, n403, n261, n608, n593, 
        n16, n14, n397, n13, n605;
    wire [16:0]n73;
    wire [16:0]clk_cnt_16__N_1;
    
    wire n590, n596, n602, n259, n599, n587;
    
    VHI i2 (.Z(VCC_net));
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i6_4_lut (.A(clk_cnt[7]), .B(clk_cnt[8]), 
            .C(clk_cnt[5]), .D(clk_cnt[4]), .Z(n14));
    defparam i6_4_lut.INIT = "0xfffe";
    (* lut_function="(A (B))" *) LUT4 i272_2_lut (.A(clk_cnt[11]), .B(clk_cnt[14]), 
            .Z(n397));
    defparam i272_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i146_2_lut (.A(n73[12]), .B(n33), 
            .Z(clk_cnt_16__N_1[12]));
    defparam i146_2_lut.INIT = "0x8888";
    (* syn_use_carry_chain=1 *) FD1P3XZ clk_cnt_19__i16 (.D(clk_cnt_16__N_1[16]), 
            .SP(VCC_net), .CK(clk_c), .SR(digit_sel_N_37), .Q(clk_cnt[16]));
    defparam clk_cnt_19__i16.REGSET = "RESET";
    defparam clk_cnt_19__i16.SRMODE = "ASYNC";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i5_4_lut (.A(clk_cnt[12]), .B(clk_cnt[9]), 
            .C(clk_cnt[3]), .D(clk_cnt[10]), .Z(n13));
    defparam i5_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(((D)+!C)+!B))" *) LUT4 i6_4_lut_adj_6 (.A(n13), .B(n397), 
            .C(clk_cnt[1]), .D(n14), .Z(n16));
    defparam i6_4_lut_adj_6.INIT = "0xffbf";
    (* lut_function="(A (B (C (D))))" *) LUT4 i278_4_lut (.A(clk_cnt[6]), 
            .B(clk_cnt[15]), .C(clk_cnt[16]), .D(clk_cnt[13]), .Z(n403));
    defparam i278_4_lut.INIT = "0x8000";
    (* lut_function="(((C+!(D))+!B)+!A)" *) LUT4 i9_4_lut (.A(n403), .B(clk_cnt[0]), 
            .C(n16), .D(clk_cnt[2]), .Z(n33));
    defparam i9_4_lut.INIT = "0xf7ff";
    (* lut_function="(A (B))" *) LUT4 i142_2_lut (.A(n73[16]), .B(n33), 
            .Z(clk_cnt_16__N_1[16]));
    defparam i142_2_lut.INIT = "0x8888";
    FA2 clk_cnt_19_add_4_17 (.A0(GND_net), .B0(GND_net), .C0(clk_cnt[15]), 
        .D0(n273), .CI0(n273), .A1(GND_net), .B1(GND_net), .C1(clk_cnt[16]), 
        .D1(n611), .CI1(n611), .CO0(n611), .S0(n73[15]), .S1(n73[16]));
    defparam clk_cnt_19_add_4_17.INIT0 = "0xc33c";
    defparam clk_cnt_19_add_4_17.INIT1 = "0xc33c";
    FA2 clk_cnt_19_add_4_15 (.A0(GND_net), .B0(GND_net), .C0(clk_cnt[13]), 
        .D0(n271), .CI0(n271), .A1(GND_net), .B1(GND_net), .C1(clk_cnt[14]), 
        .D1(n608), .CI1(n608), .CO0(n608), .CO1(n273), .S0(n73[13]), 
        .S1(n73[14]));
    defparam clk_cnt_19_add_4_15.INIT0 = "0xc33c";
    defparam clk_cnt_19_add_4_15.INIT1 = "0xc33c";
    FA2 clk_cnt_19_add_4_13 (.A0(GND_net), .B0(GND_net), .C0(clk_cnt[11]), 
        .D0(n269), .CI0(n269), .A1(GND_net), .B1(GND_net), .C1(clk_cnt[12]), 
        .D1(n605), .CI1(n605), .CO0(n605), .CO1(n271), .S0(n73[11]), 
        .S1(n73[12]));
    defparam clk_cnt_19_add_4_13.INIT0 = "0xc33c";
    defparam clk_cnt_19_add_4_13.INIT1 = "0xc33c";
    FA2 clk_cnt_19_add_4_11 (.A0(GND_net), .B0(GND_net), .C0(clk_cnt[9]), 
        .D0(n267), .CI0(n267), .A1(GND_net), .B1(GND_net), .C1(clk_cnt[10]), 
        .D1(n602), .CI1(n602), .CO0(n602), .CO1(n269), .S0(n73[9]), 
        .S1(n73[10]));
    defparam clk_cnt_19_add_4_11.INIT0 = "0xc33c";
    defparam clk_cnt_19_add_4_11.INIT1 = "0xc33c";
    (* lut_function="(A (B))" *) LUT4 i145_2_lut (.A(n73[13]), .B(n33), 
            .Z(clk_cnt_16__N_1[13]));
    defparam i145_2_lut.INIT = "0x8888";
    (* lut_function="(!(A))" *) LUT4 i6_1_lut (.A(rst_n_c), .Z(digit_sel_N_37));
    defparam i6_1_lut.INIT = "0x5555";
    FA2 clk_cnt_19_add_4_9 (.A0(GND_net), .B0(GND_net), .C0(clk_cnt[7]), 
        .D0(n265), .CI0(n265), .A1(GND_net), .B1(GND_net), .C1(clk_cnt[8]), 
        .D1(n599), .CI1(n599), .CO0(n599), .CO1(n267), .S0(n73[7]), 
        .S1(n73[8]));
    defparam clk_cnt_19_add_4_9.INIT0 = "0xc33c";
    defparam clk_cnt_19_add_4_9.INIT1 = "0xc33c";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 digit_sel_I_2_3_lut (.A(in_digit0_c[2]), 
            .B(in_digit1_c[2]), .C(digit_sel), .Z(mux_nibble[2]));
    defparam digit_sel_I_2_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B)+!A !(B))" *) LUT4 i1_2_lut (.A(digit_sel), .B(n33), 
            .Z(n190));
    defparam i1_2_lut.INIT = "0x9999";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 digit_sel_I_1_3_lut (.A(in_digit0_c[3]), 
            .B(in_digit1_c[3]), .C(digit_sel), .Z(mux_nibble[3]));
    defparam digit_sel_I_1_3_lut.INIT = "0xcaca";
    (* syn_use_carry_chain=1 *) FD1P3XZ clk_cnt_19__i15 (.D(clk_cnt_16__N_1[15]), 
            .SP(VCC_net), .CK(clk_c), .SR(digit_sel_N_37), .Q(clk_cnt[15]));
    defparam clk_cnt_19__i15.REGSET = "RESET";
    defparam clk_cnt_19__i15.SRMODE = "ASYNC";
    FA2 clk_cnt_19_add_4_7 (.A0(GND_net), .B0(GND_net), .C0(clk_cnt[5]), 
        .D0(n263), .CI0(n263), .A1(GND_net), .B1(GND_net), .C1(clk_cnt[6]), 
        .D1(n596), .CI1(n596), .CO0(n596), .CO1(n265), .S0(n73[5]), 
        .S1(n73[6]));
    defparam clk_cnt_19_add_4_7.INIT0 = "0xc33c";
    defparam clk_cnt_19_add_4_7.INIT1 = "0xc33c";
    (* lut_function="(!(A))" *) LUT4 digit_sel_I_5_1_lut (.A(digit_sel), .Z(digit_sel_N_35));
    defparam digit_sel_I_5_1_lut.INIT = "0x5555";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 digit_sel_I_4_3_lut (.A(in_digit0_c[0]), 
            .B(in_digit1_c[0]), .C(digit_sel), .Z(mux_nibble[0]));
    defparam digit_sel_I_4_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B))" *) LUT4 i144_2_lut (.A(n73[14]), .B(n33), 
            .Z(clk_cnt_16__N_1[14]));
    defparam i144_2_lut.INIT = "0x8888";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 digit_sel_I_3_3_lut (.A(in_digit0_c[1]), 
            .B(in_digit1_c[1]), .C(digit_sel), .Z(mux_nibble[1]));
    defparam digit_sel_I_3_3_lut.INIT = "0xcaca";
    FA2 clk_cnt_19_add_4_5 (.A0(GND_net), .B0(GND_net), .C0(clk_cnt[3]), 
        .D0(n261), .CI0(n261), .A1(GND_net), .B1(GND_net), .C1(clk_cnt[4]), 
        .D1(n593), .CI1(n593), .CO0(n593), .CO1(n263), .S0(n73[3]), 
        .S1(n73[4]));
    defparam clk_cnt_19_add_4_5.INIT0 = "0xc33c";
    defparam clk_cnt_19_add_4_5.INIT1 = "0xc33c";
    FA2 clk_cnt_19_add_4_3 (.A0(GND_net), .B0(GND_net), .C0(clk_cnt[1]), 
        .D0(n259), .CI0(n259), .A1(GND_net), .B1(GND_net), .C1(clk_cnt[2]), 
        .D1(n590), .CI1(n590), .CO0(n590), .CO1(n261), .S0(n73[1]), 
        .S1(n73[2]));
    defparam clk_cnt_19_add_4_3.INIT0 = "0xc33c";
    defparam clk_cnt_19_add_4_3.INIT1 = "0xc33c";
    (* lut_function="(A (B))" *) LUT4 i143_2_lut (.A(n73[15]), .B(n33), 
            .Z(clk_cnt_16__N_1[15]));
    defparam i143_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i121_2_lut (.A(n73[0]), .B(n33), .Z(clk_cnt_16__N_1[0]));
    defparam i121_2_lut.INIT = "0x8888";
    (* syn_use_carry_chain=1 *) FD1P3XZ clk_cnt_19__i14 (.D(clk_cnt_16__N_1[14]), 
            .SP(VCC_net), .CK(clk_c), .SR(digit_sel_N_37), .Q(clk_cnt[14]));
    defparam clk_cnt_19__i14.REGSET = "RESET";
    defparam clk_cnt_19__i14.SRMODE = "ASYNC";
    (* lut_function="(A (B))" *) LUT4 i159_2_lut (.A(n73[1]), .B(n33), .Z(clk_cnt_16__N_1[1]));
    defparam i159_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i158_2_lut (.A(n73[2]), .B(n33), .Z(clk_cnt_16__N_1[2]));
    defparam i158_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i157_2_lut (.A(n73[3]), .B(n33), .Z(clk_cnt_16__N_1[3]));
    defparam i157_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i156_2_lut (.A(n73[4]), .B(n33), .Z(clk_cnt_16__N_1[4]));
    defparam i156_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i155_2_lut (.A(n73[5]), .B(n33), .Z(clk_cnt_16__N_1[5]));
    defparam i155_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i154_2_lut (.A(n73[6]), .B(n33), .Z(clk_cnt_16__N_1[6]));
    defparam i154_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i151_2_lut (.A(n73[7]), .B(n33), .Z(clk_cnt_16__N_1[7]));
    defparam i151_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i150_2_lut (.A(n73[8]), .B(n33), .Z(clk_cnt_16__N_1[8]));
    defparam i150_2_lut.INIT = "0x8888";
    FD1P3XZ digit_sel_c (.D(n190), .SP(VCC_net), .CK(clk_c), .SR(digit_sel_N_37), 
            .Q(digit_sel));
    defparam digit_sel_c.REGSET = "RESET";
    defparam digit_sel_c.SRMODE = "ASYNC";
    (* lut_function="(A (B))" *) LUT4 i149_2_lut (.A(n73[9]), .B(n33), .Z(clk_cnt_16__N_1[9]));
    defparam i149_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i148_2_lut (.A(n73[10]), .B(n33), 
            .Z(clk_cnt_16__N_1[10]));
    defparam i148_2_lut.INIT = "0x8888";
    (* lut_function="(A (B))" *) LUT4 i147_2_lut (.A(n73[11]), .B(n33), 
            .Z(clk_cnt_16__N_1[11]));
    defparam i147_2_lut.INIT = "0x8888";
    (* LSE_LINE_FILE_ID=25, LSE_LCOL=21, LSE_RCOL=6, LSE_LLINE=59, LSE_RLINE=62 *) sev_seg_decoder u_decoder ({seg_c}, 
            {mux_nibble});
    (* syn_use_carry_chain=1 *) FD1P3XZ clk_cnt_19__i13 (.D(clk_cnt_16__N_1[13]), 
            .SP(VCC_net), .CK(clk_c), .SR(digit_sel_N_37), .Q(clk_cnt[13]));
    defparam clk_cnt_19__i13.REGSET = "RESET";
    defparam clk_cnt_19__i13.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ clk_cnt_19__i12 (.D(clk_cnt_16__N_1[12]), 
            .SP(VCC_net), .CK(clk_c), .SR(digit_sel_N_37), .Q(clk_cnt[12]));
    defparam clk_cnt_19__i12.REGSET = "RESET";
    defparam clk_cnt_19__i12.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ clk_cnt_19__i11 (.D(clk_cnt_16__N_1[11]), 
            .SP(VCC_net), .CK(clk_c), .SR(digit_sel_N_37), .Q(clk_cnt[11]));
    defparam clk_cnt_19__i11.REGSET = "RESET";
    defparam clk_cnt_19__i11.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ clk_cnt_19__i10 (.D(clk_cnt_16__N_1[10]), 
            .SP(VCC_net), .CK(clk_c), .SR(digit_sel_N_37), .Q(clk_cnt[10]));
    defparam clk_cnt_19__i10.REGSET = "RESET";
    defparam clk_cnt_19__i10.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ clk_cnt_19__i9 (.D(clk_cnt_16__N_1[9]), 
            .SP(VCC_net), .CK(clk_c), .SR(digit_sel_N_37), .Q(clk_cnt[9]));
    defparam clk_cnt_19__i9.REGSET = "RESET";
    defparam clk_cnt_19__i9.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ clk_cnt_19__i8 (.D(clk_cnt_16__N_1[8]), 
            .SP(VCC_net), .CK(clk_c), .SR(digit_sel_N_37), .Q(clk_cnt[8]));
    defparam clk_cnt_19__i8.REGSET = "RESET";
    defparam clk_cnt_19__i8.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ clk_cnt_19__i7 (.D(clk_cnt_16__N_1[7]), 
            .SP(VCC_net), .CK(clk_c), .SR(digit_sel_N_37), .Q(clk_cnt[7]));
    defparam clk_cnt_19__i7.REGSET = "RESET";
    defparam clk_cnt_19__i7.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ clk_cnt_19__i6 (.D(clk_cnt_16__N_1[6]), 
            .SP(VCC_net), .CK(clk_c), .SR(digit_sel_N_37), .Q(clk_cnt[6]));
    defparam clk_cnt_19__i6.REGSET = "RESET";
    defparam clk_cnt_19__i6.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ clk_cnt_19__i5 (.D(clk_cnt_16__N_1[5]), 
            .SP(VCC_net), .CK(clk_c), .SR(digit_sel_N_37), .Q(clk_cnt[5]));
    defparam clk_cnt_19__i5.REGSET = "RESET";
    defparam clk_cnt_19__i5.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ clk_cnt_19__i4 (.D(clk_cnt_16__N_1[4]), 
            .SP(VCC_net), .CK(clk_c), .SR(digit_sel_N_37), .Q(clk_cnt[4]));
    defparam clk_cnt_19__i4.REGSET = "RESET";
    defparam clk_cnt_19__i4.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ clk_cnt_19__i3 (.D(clk_cnt_16__N_1[3]), 
            .SP(VCC_net), .CK(clk_c), .SR(digit_sel_N_37), .Q(clk_cnt[3]));
    defparam clk_cnt_19__i3.REGSET = "RESET";
    defparam clk_cnt_19__i3.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ clk_cnt_19__i2 (.D(clk_cnt_16__N_1[2]), 
            .SP(VCC_net), .CK(clk_c), .SR(digit_sel_N_37), .Q(clk_cnt[2]));
    defparam clk_cnt_19__i2.REGSET = "RESET";
    defparam clk_cnt_19__i2.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ clk_cnt_19__i1 (.D(clk_cnt_16__N_1[1]), 
            .SP(VCC_net), .CK(clk_c), .SR(digit_sel_N_37), .Q(clk_cnt[1]));
    defparam clk_cnt_19__i1.REGSET = "RESET";
    defparam clk_cnt_19__i1.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1 *) FD1P3XZ clk_cnt_19__i0 (.D(clk_cnt_16__N_1[0]), 
            .SP(VCC_net), .CK(clk_c), .SR(digit_sel_N_37), .Q(clk_cnt[0]));
    defparam clk_cnt_19__i0.REGSET = "RESET";
    defparam clk_cnt_19__i0.SRMODE = "ASYNC";
    VLO i1 (.Z(GND_net));
    IB clk_pad (.I(clk), .O(clk_c));
    IB rst_n_pad (.I(rst_n), .O(rst_n_c));
    IB \in_digit0_pad[3]  (.I(in_digit0[3]), .O(in_digit0_c[3]));
    IB \in_digit0_pad[2]  (.I(in_digit0[2]), .O(in_digit0_c[2]));
    IB \in_digit0_pad[1]  (.I(in_digit0[1]), .O(in_digit0_c[1]));
    IB \in_digit0_pad[0]  (.I(in_digit0[0]), .O(in_digit0_c[0]));
    IB \in_digit1_pad[3]  (.I(in_digit1[3]), .O(in_digit1_c[3]));
    IB \in_digit1_pad[2]  (.I(in_digit1[2]), .O(in_digit1_c[2]));
    IB \in_digit1_pad[1]  (.I(in_digit1[1]), .O(in_digit1_c[1]));
    IB \in_digit1_pad[0]  (.I(in_digit1[0]), .O(in_digit1_c[0]));
    OB \seg_pad[6]  (.I(seg_c[6]), .O(seg[6]));
    OB \seg_pad[5]  (.I(seg_c[5]), .O(seg[5]));
    OB \seg_pad[4]  (.I(seg_c[4]), .O(seg[4]));
    OB \seg_pad[3]  (.I(seg_c[3]), .O(seg[3]));
    OB \seg_pad[2]  (.I(seg_c[2]), .O(seg[2]));
    OB \seg_pad[1]  (.I(seg_c[1]), .O(seg[1]));
    OB \seg_pad[0]  (.I(seg_c[0]), .O(seg[0]));
    OB \anode_pad[1]  (.I(digit_sel_N_35), .O(anode[1]));
    OB \anode_pad[0]  (.I(digit_sel), .O(anode[0]));
    FA2 clk_cnt_19_add_4_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), 
        .A1(GND_net), .B1(VCC_net), .C1(clk_cnt[0]), .D1(n587), .CI1(n587), 
        .CO0(n587), .CO1(n259), .S1(n73[0]));
    defparam clk_cnt_19_add_4_1.INIT0 = "0xc33c";
    defparam clk_cnt_19_add_4_1.INIT1 = "0xc33c";
    
endmodule

//
// Verilog Description of module sev_seg_decoder
//

module sev_seg_decoder (output [6:0]seg_c, input [3:0]mux_nibble);
    
    
    (* lut_function="(!(A (B+!(C (D)+!C !(D)))+!A !(B (C (D))+!B !(C+!(D)))))" *) LUT4 mux_nibble_3__I_0_4_lut (.A(mux_nibble[2]), 
            .B(mux_nibble[1]), .C(mux_nibble[3]), .D(mux_nibble[0]), .Z(seg_c[0]));
    defparam mux_nibble_3__I_0_4_lut.INIT = "0x6102";
    (* lut_function="(A (B (C+(D)))+!A !(B ((D)+!C)+!B !(C (D))))" *) LUT4 seg_c_1__I_0_4_lut (.A(mux_nibble[1]), 
            .B(mux_nibble[3]), .C(mux_nibble[2]), .D(mux_nibble[0]), .Z(seg_c[1]));
    defparam seg_c_1__I_0_4_lut.INIT = "0x98c0";
    (* lut_function="(A (B (C (D)))+!A (B (D)+!B !((D)+!C)))" *) LUT4 seg_c_2__I_0_4_lut (.A(mux_nibble[0]), 
            .B(mux_nibble[3]), .C(mux_nibble[1]), .D(mux_nibble[2]), .Z(seg_c[2]));
    defparam seg_c_2__I_0_4_lut.INIT = "0xc410";
    (* lut_function="(A (B (C (D)+!C !(D))+!B (C (D)))+!A !(B+(C (D)+!C !(D))))" *) LUT4 seg_c_3__I_0_4_lut (.A(mux_nibble[1]), 
            .B(mux_nibble[3]), .C(mux_nibble[2]), .D(mux_nibble[0]), .Z(seg_c[3]));
    defparam seg_c_3__I_0_4_lut.INIT = "0xa118";
    (* lut_function="(!(A ((D)+!C)+!A (B (C+(D))+!B !(C))))" *) LUT4 i20_4_lut (.A(mux_nibble[1]), 
            .B(mux_nibble[2]), .C(mux_nibble[0]), .D(mux_nibble[3]), .Z(seg_c[4]));
    defparam i20_4_lut.INIT = "0x10b4";
    (* lut_function="(!(A ((C+!(D))+!B)+!A (B (C+(D))+!B !(C (D)+!C !(D)))))" *) LUT4 seg_c_6__I_0_4_lut (.A(mux_nibble[1]), 
            .B(mux_nibble[0]), .C(mux_nibble[3]), .D(mux_nibble[2]), .Z(seg_c[6]));
    defparam seg_c_6__I_0_4_lut.INIT = "0x1805";
    (* lut_function="(!(A (D)+!A !(B (C)+!B !((D)+!C))))" *) LUT4 seg_c_5__I_0_4_lut_4_lut (.A(mux_nibble[1]), 
            .B(mux_nibble[2]), .C(mux_nibble[0]), .D(mux_nibble[3]), .Z(seg_c[5]));
    defparam seg_c_5__I_0_4_lut_4_lut.INIT = "0x40fa";
    
endmodule
